<!DOCTYPE html>
<html lang='en' ng-app="searchApp">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <title>Test App</title>

    </head>
    <body>

        <body ng-controller="searchController">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <form class="search-form form-inline" ng-submit="search()">
                                <input type="text" class="form-control" ng-model="who">
                                <input type="submit" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{result}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div ng-repeat="x in studentsOnLoad">
                            <div style="text-align: center">
                                <ul>
                                    <li style="padding: 3px; background-color: lightgray; list-style:none">{{x.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
            <script type="text/javascript" src="controller.js"></script>
        </body>
    </html>
